<html>
	<head>
		<title>Session Words</title>
	</head>
	<style>
		div{
			display:inline-block;
		}
		#left{
			border-right: thick solid black;
			width:50%;
		}
	</style>
	<body>
		<div id = 'left'>
			<h2>Add a new word</h2>
			<form action='/session_words/add_word'>
				{% csrf_token %}
				<input type='text' name='new_word'>
				<h5>Choose color</h5>
				<input type='radio' name='color' value='red'>Red
				<br>
				<input type='radio' name='color' value='green'>Green
				<br>
				<input type='radio' name='color' value='blue'>Blue
				<br>
				<input type='checkbox' name='big_font'>
				<label for='big_font'>show in BIG fonts!</label>
				<br>
				<input type='submit' value='Add to Session'>
			</form>
		</div>

		<div id='right'>
			<form action='/session_words/clear'>
				{% csrf_token %}
				<input type='submit' value='Clear Session'>
				{% autoescape off %}
				{{ request.session.activity }}
				{% endautoescape %}
			</form>
		</div>
	</body>
